<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    

    <ros2_control name="RobotSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <joint name="joint_1">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint_2">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint_3">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint_4">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint_5">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="joint_6">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="gripper_left_finger_joint">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="gripper_right_finger_joint">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>

    </ros2_control>
</robot>
