<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="base_footprint"/>

<link name="base_link">
    <visual>
        <geometry>
            <mesh filename="package://kr210_description/meshes/kr210l150/visual/base_link.dae"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="">
            <color rgba="0.75294 0.75294 0.75294 1"/>
        </material>
    </visual>

<joint name="fixed_base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

</robot>
