<?xml version="1.0"?>
<robot>
    <gazebo reference="base_link">
        <material>Gazebo/Grey</material>
        <mu1>2</mu1>
        <mu2>2</mu2>
    </gazebo>

    <gazebo reference="link_1">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="link_2">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

     <gazebo reference="link_3">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="link_4">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

     <gazebo reference="link_5">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="link_6">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
    </gazebo>

</robot>